body{

background:#f5f7fb;

font-family:Poppins,sans-serif;

}

.card{

border-radius:20px;

}

.card-header{

border-radius:20px 20px 0 0!important;

}

.form-control,
.form-select{

height:50px;

}

textarea.form-control{

height:auto;

}

.btn{

height:55px;

font-size:18px;

border-radius:12px;

}

label{

font-weight:600;

margin-bottom:5px;

}