body{

background:#f4f7fb;

font-family:Poppins,sans-serif;

}

.stat-card{

border:none;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.review-card{

background:white;

border-radius:18px;

padding:20px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

height:100%;

}

.review-card:hover{

transform:translateY(-8px);

}

.review-stars{

color:#ffc107;

font-size:20px;

}

.review-name{

font-size:22px;

font-weight:600;

}

.review-text{

color:#666;

margin:15px 0;

}