body{

background:#f5f7fb;

font-family:Poppins,sans-serif;

}

.profile-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.profile-image{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:6px solid #0d6efd;

}

.card{

border-radius:20px;

}

.card-header{

border-radius:20px 20px 0 0!important;

}

.btn{

height:50px;

font-size:18px;

}

.form-control{

height:50px;

}

textarea.form-control{

height:auto;

resize:none;

}