body{

background:#f4f7fb;

font-family:Poppins,sans-serif;

}

.card{

border-radius:18px;

}

.card-body{

padding:25px;

}

table{

background:white;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

thead{

background:#0d6efd;

color:white;

}

.modal-content{

border-radius:18px;

}

.btn{

border-radius:10px;

}