body{

background:#f5f7fb;

font-family:Poppins,sans-serif;

}

table{

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

thead{

background:#dc3545;

color:white;

}

.modal-content{

border-radius:18px;

}

.badge{

font-size:14px;

}

.btn{

border-radius:10px;

}