body{

background:#f5f7fb;

font-family:Poppins,sans-serif;

}

.destination-card{

border:none;

border-radius:20px;

overflow:hidden;

transition:.3s;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.destination-card:hover{

transform:translateY(-10px);

}

.destination-card img{

height:230px;

object-fit:cover;

}

.card-body{

padding:25px;

}

.bookBtn{

margin-top:15px;

height:48px;

font-weight:600;

}

h4{

font-weight:700;

}