body{

background:#f4f7fb;

font-family:Poppins,sans-serif;

}

.card{

border-radius:20px;

}

.card-header{

border-radius:20px 20px 0 0!important;

}

h4{

font-weight:600;

margin-top:20px;

}

.form-control,
.form-select{

height:50px;

}

.btn{

height:50px;

font-size:17px;

border-radius:12px;

}

body.dark{

background:#121212;

color:white;

}

body.dark .card{

background:#1f1f1f;

color:white;

}

body.dark .form-control,
body.dark .form-select{

background:#2a2a2a;

color:white;

border:1px solid #555;

}

body.dark .card-header{

background:#000!important;

}